{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}}

 :aliases
 {:with-aalto
  {:extra-deps {com.fasterxml/aalto-xml {:mvn/version "1.3.2"}}}

  :repo
  {:exec-fn repo/pprint}}}
